@font-face {
    font-family: "TT Supermolot Bold";
    src: url(../fonts/TT-Supermolot-Neue-Trial-Bold.ttf);
}

@font-face {
    font-family: "TT Supermolot Medium";
    src: url(../fonts/TT-Supermolot-Neue-Trial-Medium.ttf);
}